# 빌드 파일
/build/
.gradle/

# Android Studio 파일
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/
.idea/vcs.xml

# 로컬 설정 파일
*.iml
local.properties
.classpath
.project
.settings/
*.prefs

# 디버그 키스토어
*.keystore

# APK/AAB 파일
*.apk
*.aab

# 로그 파일
*.log

# OS별 파일
.DS_Store
Thumbs.db
