# OS별 파일
*.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Android/Gradle
*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 빌드 산출물
*.aab
*.apk

# ProGuard mapping 파일
/app/mapping.txt

# 로그 파일
*.log
*.log.*

# IDE 설정 파일
*.ipr
*.iws
*.bak
*.swp
.vscode/

# Dependency 캐시
/.gradle/
/build/
.compose-cache/

# 보안 및 환경 파일
.env
*.keystore
*.jks
secrets.properties

# Git 설정 관련
*.orig
*.rej
*.patch